# Ignore everything in this directory
*
# Except these files
!.gitignore
!README.md
!00.bib
!00.csl
!00.pdf
!00.tex
!00mymacros.tex
!00prelim.tex
!01.tex
!02.tex
!03.tex
!04.tex
!05.tex
!06.tex
!07.tex
!08.tex
!09.tex
!fig
!framed.sty
!knitr.sty
!tab
!uclath12.clo
!uclathes.bst
!uclathes.cls
!uclathma.clo
!uclathti.clo
